<div class="cabinet">
  <div class="search-info">
    <div class="search-bar">
      <%= render "components/searchform" %>
    </div>
    <h5>
      <strong>
        <% unless user_ingredients.nil? %>
        <span class="text-orange">
          <%= user_ingredients.length %>
        </span>
        <% end %>
        &nbsp
        <%= 'Ingredient'.pluralize(user_ingredients.length)%>
      </strong>
    </h5>
    <% if @filtered_cocktails %>
      <h5>
        <strong>
          <span class="text-orange">
            <%= @filtered_cocktails.length %>
          </span>
          &nbsp
          <%= 'Cocktail'.pluralize(@filtered_cocktails.length) %> Found
        </strong>
      </h5>
    <% elsif %>
      <h5>
        <strong>
          <span class="text-orange">
            <%= @saved_cocktails.length %>
          </span>
          &nbsp
          Selected <%= 'Cocktail'.pluralize(@saved_cocktails.length) %>
        </strong>
      </h5>
    <% end %>
  </div>

  <div class="cabinet-ingredients">
    <% if user_ingredients.present? %>
      <% user_ingredients.each do |item| %>
        <div class="btn-ghost ingredient d-flex align-items-center">
          <%= item.ingredient.name.titleize %>
          <%= button_to raw("<i class=\"fa-solid fa-square-minus fa-lg\"></i>"),
            change_path(item.id),
            method: :patch,
            class: "remover" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
