
<div class="container card-container">
  <h1>All the cocktails</h1>
	<div class="cards">
    <% @cocktails.each do |cocktail| %>

    <% @cocktail = cocktail %>
      <% link_to "CLICK HERE", cocktail_path(cocktail.id) %>
  <div class="index-card-wrap">
    <div class="index-card-header">
      <div class="index-card-stock"><p>Ready To Go</p></div>
      <div class="index-cocktail-name"><h4><%= cocktail.name %></h4></div>
    </div>
    <div class="index-card-bottom">
      <ul class="list-inline">
      <%# Displaying only the first three ingredients in a cocktail index-card %>
      <% cocktail.measurements.each do |measurement| %>
      <li class="list-inline-item"><div class="index-card-ingredients"><p><%= measurement.quantity %> <%= measurement.unit %> <%= @ingredients.find(measurement.ingredient_id).name %>,</p></div></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
</div>


  <div class="card">
    <% @cocktails.each do |cocktail| %>

      <% @cocktail = cocktail %>
      <%= link_to "CLICK HERE", cocktail_path(cocktail.id) %>
      <%# THIS DOES NOT WORK!! :( %>


      <h2> <%= cocktail.id %>/ <%= cocktail.name %></h2>
      <% cocktail.measurements.each do |measurement| %>
        <p><%= measurement.quantity %> <%= measurement.unit %> <%= @ingredients.find(measurement.ingredient_id).name %></p>
      <% end %>
      <br>
      <p><strong>Method:</strong> <%= cocktail.instructions %></p>

      <% if cocktail.alcoholic == true %>
        <p><i>Contains alcohol</i></p>
      <% elsif %>
        <p><i>Does not contain alcohol</i></p>
      <% end %>

    <% end %>
  </div>
</div>
