<div class="container">

  <h1>UI kit</h1>
  <br /><br /><br /><br />

  <h2>Navbar</h2>
  <%= render "shared/navbar" %>
  <br /><br /><br /><br />

  <h2>Footer</h2>
  <%= render "shared/footer" %>
  <br /><br /><br /><br />

  <h2>Banner</h2>
  <%= render "components/banner" %>
  <br /><br /><br /><br />

  <h2>Button</h2>
  <%= render "components/button" %>
  <br /><br /><br /><br />

  <h2>Cabinet</h2>
  <%= render "components/cabinet" %>
  <br /><br /><br /><br />

  <h2>Card</h2>
  <%= render "components/card" %>

  <h2>Cards Grid</h2>
  <%= render "components/cards_grid" %>
  <br>

</div>
