<h1>UI kit</h1>

<h2>Navbar</h2>
<%= render "shared/navbar" %>
<br>

<h2>Banner</h2>
<%= render "components/banner" %>
<br>

<div class="container">
  <h2>Card</h2>
  <%= render "components/card" %>
  <br>
  <h2>Cards Grid</h2>
  <%= render "components/cards_grid" %>
  <br>
  <h2>Button</h2>
  <%= render "components/button" %>
  <br>
</div>
<h2>Footer</h2>
<%= render "shared/footer" %>
<br>
